body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.container-fluid{
    height: 750px;
    width: 450px;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_1280.png");
    background-repeat: none;
    background-position-x: center;
}
.temperature{
    font-size: 90px;
}
.sun{
color: rgb(255, 255, 153);
   box-shadow: 0px 3px 15px 5px yellow ;
   border-radius: 50%;
   border: none;
}
.line{
    height: 2px;
    background-color: black;
    width: 100%;
}
.city{
    font-size: 25px;
    font-weight: bold;
}
.wind{
    color: rgb(73, 72, 72);
    font-size: 15px;
}
.first{
    height:70px !important;
}
.day-box{
    height: 50px;
}
.footer{
    margin-top: 110px;
    background-color: rgba(255, 247, 232, 0.439);
}
button{
    border-radius: 10%;
    box-shadow: 2px 2px 5px gray ;
}